<div class="row">
    <div class="col-md-2 oshirase">
        お知らせ
    </div>
    <div class="col-md-10">
        <dl class="row zyo-ho">
            <dt class="col-md-3">2020年1月11日</dt>
            <dd class="col-md-9">Ramen Daysの制作を開始しました。</dd>
            <dt class="col-md-3">2020年1月11日</dt>
            <dd class="col-md-9">Ramen Daysの制作を開始しました。</dd>
            <dt class="col-md-3">2020年1月11日</dt>
            <dd class="col-md-9">Ramen Daysの制作を開始しました。</dd>
            <dt class="col-md-3">2020年1月11日</dt>
            <dd class="col-md-9">Ramen Daysの制作を開始しました。</dd>
        </dl>
    </div>
</div>