<div id="footerWrap">
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "ホーム",   root_path %></li>
      <li><%= link_to "このサイトについて",   about_path %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
  </nav>
    <p>
    Copyright © Yuki Aida, All Rights Reserved.
    </p>
</footer>
</div>